.full-container {
    position: sticky;
    top: 0;
}

.text-part2 {
    text-align: left;
    padding: 20px;
}

.clear-btn {
    padding: 10px 20px;
    background-color: #FFE0B3;
    color: black;

    border-radius: 10px;
    justify-content: center;
}

.clear-btn:hover {
    background-color: orange;
    color: antiquewhite;

}